{%extends 'homepage/base.html'%}

{%block title%} Account Information {%endblock title%}

{%block content%}
    <div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="container">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{user.get_full_name}}</h5>
                        <p class="card-text"><strong>Email: </strong>{{user.email}}</p>
                        <a href="{% url 'delete'%}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'update' %}" class="btn btn-primary">Update</a>
                        </div>
                    </div>
            </div>                
        </div>

        
        <div class="col">
            <div class="container">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Saved Recipes</h5>
                    {%if recipe%}
                        <table class = "table table-striped table-hover">
                            {%for rec in recipe%}
                                <tr>
                                    <td><a >{{rec.recipe_id}}</a></td>
                                </tr>
                            {%endfor%}
                        </table>
                    {%endif%}
                    </div>
                </div>        
            </div>
        </div>
        

        
        <div class="col">
        <div class="container">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Shopping List</h5>
                        <table class = "table table-striped table-hover">
                            
                        </table>
                    </div>
                </div>        
        </div>
    </div>
    </div>    

{%endblock%}