.card-title {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}


#add {
    font-size: large;
}

#remove {
    font-size: smaller;
    align-self: end;
}

td {
    align-content: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.row {
    margin-top: 20px;
    margin-left: 200px;
}

#update {
    background-color: #13C7F9 !important;
}

#delete_button {
    background-color: #ac4a4a !important;
}