.card-title {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}


#add {
    font-size: large;
}

#remove {
    font-size: smaller;
    align-self: end;
}

td{
    align-content: center;
}