body {
    background-color: #FBE9C5 !important;
    opacity: 50px;
}

#head {
    color: orange;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

button:not(.btn-close) {
    background-color: #13C7F9 !important;

}

#button {
    background-color: #13C7F9 !important;
}

#navbar {
    background-color: #13C7F9 !important;
    color: white
}

#text {
    color: white;
}

#registration {
    background-color: #FBE9C5 !important;
    border-color: #FBE9C5 !important;
}

#card {
    background-color: rgba(245, 222, 178, 0.493);
    color: black;
}

#login {
    margin-top: 20px;
}

#logo {
    border-radius: 15px;
}

#shopping {
    margin-top: 20px;
}