{% extends 'homepage/base.html' %}
{% block title %}
PatryPal - Browse Recipes
{% endblock title %}
{% block content %}
<h1>Browse Recipes</h1>
<h5>Filter:</h5>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {%if selected_category%}
    {{selected_category.category_name}}
    {%else%}
    Category
    {%endif%}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {%if selected_category%}
    <a class="dropdown-item" href="{%url 'browse-all'%}">None</a>
    {%endif%}
    {%for item in category_list %}
    <a class="dropdown-item" href="{%url 'category-filter' item.pk%}">{{item.category_name}}</a>
    {%endfor%}
  </div>
</div>
{% if recipe_list %}
      {% for recipe in recipe_list %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{recipe.recipe_name}}</h5>
          {% if recipe.creator %}
          <p class="card-text"><small class="text-muted">by {{recipe.creator.get_short_name}}</small></p>
          {% endif %}
          <p class="card-text">{% for category in recipe.category.all %}- {{category.category_name}} -{%endfor%}</p>
          <a href="#" class="btn btn-primary">View Recipe</a>
        </div>
      </div>
      {% endfor %}
  {% else %}
    <p>There are no recipes right now.</p>
  {% endif %}
{% endblock content %}