{% extends 'homepage/base.html' %}
{%load static%}
{% block title %}
PatryPal - Shopping List
{% endblock title %}
{% block content %}


<div id = "shopping" class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Add Items to Shopping List</h1>
      <form action='' method='post'>
        {% csrf_token %}
        {{form}}
        <button class="btn btn-primary" action='submit' id='submit'>
          Submit
        </button>
      </form>
    </div>
    <div class="col-sm">
      {%if selected_ingredients%}
      <h1>Shopping List</h1>
          {%for ingredient in selected_ingredients%}
                  <ul>        
                      <li>{{ingredient}}</li>
                  </ul>
          {%endfor%}
      {%endif%}


    </div>
  </div>
</div>





{%endblock%}