{% extends 'homepage/base.html' %}
{%load static%}
{% block title %}
PatryPal - Shopping List
{% endblock title %}
{% block content %}
<h1>Add Items to Shopping List</h1>
<form action='' method='post'>
  {% csrf_token %}
  {{form}}
  <button class="btn btn-primary" action='submit' id='submit'>
    Submit
  </button>
</form>


{%if selected_ingredients%}
    {%for ingredient in selected_ingredients%}
            <ul>        
                <li>{{ingredient}}</li>
            </ul>
    {%endfor%}
{%endif%}

{%endblock%}