<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Example</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Custom CSS styles */
    .header {
      margin-top: 20px;
    }
    .image {
      max-width: 100%;
    }
  </style>
</head>
<body>
    {% include 'homepage/navbar.html' %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Image on the left side -->
        <img src="scrambled-eggs-1-580x851.jpg" alt="Image" class="image">
      </div>
      <div class="col-md-8">
        <div class="header">
          <h1>Ingredients</h1>
          <ul> 
            {% for i in ingredients %} 
            <div class="row"> 
              {{ i }} 
            </div>  
            {% endfor %} 
            </ul>
          <p>3 large eggs
            1 teaspoon milk, plant milk, or water
            Extra-virgin olive oil or butter, for the pan
            Sea salt and fresh black pepper
            Chopped fresh chives, optional, for garnish</p>
        <div class="block-text">
          <h1>Instructions</h1>
          <p>To make this scrambled eggs recipe, you’ll need 5 basic ingredients:

            Eggs, of course! Use the freshest ones you can find, from a local source if possible (we like Vital Farms). The fresher your eggs are, the sunnier, creamier, and more flavorful your scramble will be.
            Milk, plant milk, or water – I whisk a little into the eggs before I cook them. This additional moisture makes the eggs extra-soft and creamy. If you use plant milk, make sure to pick one with a neutral flavor. I recommend unsweetened almond milk.
            Extra-virgin olive oil or butter, for the pan. I always use olive oil because it’s what I keep handy. But butter works well too – it’ll add rich flavor to this recipe.
            Salt…
            And pepper! To add depth of flavor to these simple scrambled eggs.</P>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>