<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Example</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Custom CSS styles */
    .header {
      margin-top: 20px;
    }
    .image {
      max-width: 100%;
    }
  </style>
</head>
<body>
    {% include 'homepage/navbar.html' %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Image on the left side -->
        
      </div>
      <div class="col-md-8">
        <div class="header">
          <h1>Ingredients</h1>
          {% block content %}
          {% for instance in ingredients %}
          <p>  {{ instance.ingredient }} </p>
          {%  endfor %}
          {% endblock %}
        <div class="block-text">
          <h1>Instructions</h1>

    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>