{% extends "homepage/base.html" %}
{% load static %}
{% block title %}
PantryPal - Create Recipe
{% endblock title %}
{%block style%}
<link rel = "stylesheet" href = "{% static 'recipe/css/recipe_form.css'%}">
{%endblock style%}
{% block content %}
<h1>Create Recipe</h1>
<h5>Ingredients</h5>
    <form id="form-container" method="POST">
        {% csrf_token %}
        {{recipe_lines.management_form}}
        
        {% for form in recipe_lines %}
        <div class="line-form">
        {{form.as_p}}
        </div>
        {% endfor %}
        <button class = "btn btn-success" id="add-form" type="button">+</button>
        <table>
        {{recipe_form.as_table}}
        </table>
        <button class = "btn btn-primary" type="submit">Create Recipe</button>
    </form>
    <script>
      let lineForm = document.querySelectorAll(".line-form")
      let container = document.querySelector("#form-container")
      let addButton = document.querySelector("#add-form")
      let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

      let formNum = lineForm.length-1
      addButton.addEventListener('click', addForm)

      function addForm(e){
          e.preventDefault()

          let newForm = lineForm[0].cloneNode(true)
          let formRegex = RegExp(`form-(\\d){1}-`,'g')

          formNum++
          newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
          container.insertBefore(newForm, addButton)
          
          totalForms.setAttribute('value', `${formNum+1}`)
      }
    </script>
{% endblock %}