{%extends 'homepage/base.html'%}
{%block title%}
{{ recipe.recipe_name }}
{%endblock title%}
{% block content %}
  <h1>{{ recipe.recipe_name }}</h1>
  <h2>Ingredients:</h2>
  <ul>
      {% for ingredient in ingredients %}
          <li>{{ ingredient.ingredient_id.ingredient_name }} {{ ingredient.amount }} {% if ingredient.get_unit_display != None %}
            {{ ingredient.get_unit_display }}
          {%endif%} </li><br></br>
      {% endfor %}
  </ul>
  

  <h2>Instructions:</h2>
  <div style='white-space: pre-wrap'>
  <p> {{ recipe.recipe_instructions }}</p>
  </div>
  {% if user.is_authenticated %}
  {% if recipe_is_saved %}
    {%csrf_token%}
    {{form.as_p}}
    <button action="submit">Add Notes</button>
  {% else %}
    <a class="btn btn-primary" href="{% url 'save-recipe' recipe.pk %}">Save Recipe</a>
  {% endif %}
  {% endif %}

{% endblock content %}