{%extends 'homepage/base.html'%}
{%load static%}

{%block title%}Login{%endblock title%}
{%block content%}
<form method="POST" action="{% url 'login' %}">
  {%csrf_token%}
  <h2 id = "login">Login</h2>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      name="username"
      placeholder="User Name"
      required
    />
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
      required
    />
  </div>
  <button type="submit" class="btn btn-secondary">Login</button>
</form>
{%endblock%}